p {
	text-align: left;
	margin-top: 40px;
	width: 65%;
}
a {
	text-decoration: none;
	color: black;
}
center {
	width: 65%;
}
body {
	padding-top: 60px;
    font-family: "Times New Roman", Times, serif;
}
#title {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
}
#annotationss{
	float: right;
	width: 32%;
	height: 100%;
	background-color: red;
}
.annotator-h1 {
	float: right !important;
	position: absolute !important;
}
.header {
	font-family: 'Poiret One', cursive;
	background-color: #F7FBFC;
	top: 0px;
	width: 100%;
	position: fixed;
	font-size: 36px;
	padding: 10px;
}
#contentCurve1{
	width: 50%;
	margin-left: 350px;
	border-bottom: 1px solid #ccc;
	font-size: 1px;
	margin-bottom: 8px;
}
#footer1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom:0;
    padding-bottom: 9px;
}